* {
  box-sizing: border-box;
}
:root {
  /*Color Scheme*/
  --background: #f5f3ef;
  --card: #ffffff;
  --accent: #febd2f;
  --text-primary: #000000;
  --text-secoundary: #646464;
  --outline: #dcdcdc;
  /* Margins */
  --padding-l-r: 0 5%;
  /*Fonts*/
  --h1-h2-h3: "Roboto Serif", sans-serif;
  --p-button: "Roboto", sans-serif;
}
/*  General Styling CSS */

li {
  list-style: none;
}
/* H Style */
.h1,
.h2,
.h3 {
  font-family: var(--h1-h2-h3);
  color: var(--text-primary);
}
.h1 {
  font-weight: 500;
  font-size: 64px;
}
.h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}
.h3 {
  font-weight: 600;
  font-size: 24px;
}
/* P Style */
p,
button,
a {
  font-family: var(--p-button);
}
p {
  color: var(--text-secoundary);
  font-weight: 400;
}
button {
  color: var(--text-primary);
  font-weight: 500;
}
a {
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
/* Background Color */
html {
  background-color: var(--background);
}
footer {
  background-color: var(--accent);
}
/* Grid Area */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3);
  grid-template-rows: 80px auto auto 80px;
  grid-template-areas:
    "header-nav header-nav header-nav"
    "banner . banner"
    "card-container card-container card-container"
    "footer footer footer";
}
/* Header and Navigation*/
.header-nav {
  grid-area: header-nav;
  padding: var(--padding-l-r);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

/* Banner */
.banner {
  grid-area: banner;
  padding: var(--padding-l-r);
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
}
.left-banner h1 {
  width: 600px;
  height: 225px;
}
.left-banner p {
  font-size: 24px;
  line-height: 32px;
  width: 550px;
  height: 128px;
}
.right-banner img {
  width: 600px;
  height: 440px;
  border-radius: 40px;
}
/* Card containers */
.card-container {
  grid-area: card-container;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
  gap: 80px 40px;
  padding: 120px 80px 120px 80px;
}
.card {
  width: 400px;
  height: 324px;
  border-radius: 40px;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
}
.card button {
  background-color: var(--card);
  font-size: 18px;
  padding: 10px 25px 10px 25px;
  border-radius: 50px;
  border: 1px solid var(--outline);
}
.first-card {
  background-color: var(--accent);
  padding: 40px 60px 95px 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.other-cards {
  background-color: var(--card);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.other-cards p {
  font-size: 20px;
  line-height: 28px;
}
.other-cards .svg {
  position: absolute;
  transform: translate(235px, -80px);
}
/* Footer */
.footer {
  grid-area: footer;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-img-footer {
  width: 130px;
  height: 32px;
}
/*Media Queries*/
